@inherits LayoutComponentBase


<div class="top-bar">
    <a class="logo" href="">
        <img src="Images/logo.svg"/>
    </a>
    <NavLink href="" class="nav-tab" Match="NavLinkMatch.All">
        <img src="Images/pizza-slice.svg"/>
        <div> Elegir Pizza </div>
    </NavLink>
</div>

<div class="content">
    @Body
</div>